
x64/Debug/VC_Demo.res
VC_Demo.aps
.vs/VC_Demo/v15/Browse.VC.db
.vs/VC_Demo/v15/ipch/1e416771fda6939f.ipch
VC_Demo.vcxproj.user
x64/Debug/stdafx.obj
x64/Debug/vc141.idb
x64/Debug/vc141.pdb
x64/Debug/VC_Demo.ilk
x64/Debug/VC_Demo.log
x64/Debug/VC_Demo.obj
x64/Debug/VC_Demo.pch
x64/Debug/VC_Demo.pdb
x64/Debug/VC_Demo.tlog/CL.command.1.tlog
x64/Debug/VC_Demo.tlog/CL.read.1.tlog
x64/Debug/VC_Demo.tlog/CL.write.1.tlog
x64/Debug/VC_Demo.tlog/link.command.1.tlog
x64/Debug/VC_Demo.tlog/link.read.1.tlog
x64/Debug/VC_Demo.tlog/link.write.1.tlog
x64/Debug/VC_Demo.tlog/rc.command.1.tlog
x64/Debug/VC_Demo.tlog/rc.read.1.tlog
x64/Debug/VC_Demo.tlog/rc.write.1.tlog
x64/Debug/VC_Demo.tlog/VC_Demo.lastbuildstate
x64/Debug/VC_DemoDlg.obj
.vs/VC_Demo/v15/.suo
.vs/VC_Demo/v15/.suo
.vs/VC_Demo/v15/Browse.VC.opendb
x64/Debug/VC_Demo.exe
.vs/VC_Demo/v15/.suo
.vs/VC_Demo/v15/ipch/d2383bd1ec51855f.ipch
x64/Release/stdafx.obj
x64/Release/vc141.pdb
x64/Release/VC_Demo.iobj
x64/Release/VC_Demo.ipdb
x64/Release/VC_Demo.log
x64/Release/VC_Demo.obj
x64/Release/VC_Demo.pch
x64/Release/VC_Demo.pdb
x64/Release/VC_Demo.res
x64/Release/VC_Demo.tlog/CL.command.1.tlog
x64/Release/VC_Demo.tlog/CL.read.1.tlog
x64/Release/VC_Demo.tlog/CL.write.1.tlog
x64/Release/VC_Demo.tlog/link.command.1.tlog
x64/Release/VC_Demo.tlog/link.read.1.tlog
x64/Release/VC_Demo.tlog/link.write.1.tlog
x64/Release/VC_Demo.tlog/rc.command.1.tlog
x64/Release/VC_Demo.tlog/rc.read.1.tlog
x64/Release/VC_Demo.tlog/rc.write.1.tlog
x64/Release/VC_Demo.tlog/VC_Demo.lastbuildstate
x64/Release/VC_Demo.tlog/VC_Demo.write.1u.tlog
x64/Release/VC_DemoDlg.obj
.vs/VC_Demo/v15/.suo
.vs/VC_Demo/v15/.suo
x64/Release/VC_Demo.exe
*.exe
x64/Release/VC_Demo.exe
x64/Release/VC_Demo.exe
x64/Release/VC_Demo.tlog/unsuccessfulbuild
x64/Release/VC_Demo.tlog/unsuccessfulbuild
.vs/KeyPressDemo/v16/.suo
.vs/KeyPressDemo/v16/Browse.VC.db
.vs/ProjectSettings.json
.vs/slnx.sqlite
.vs/VC_Demo/v15/.suo
.vs/VC_Demo/v15/ipch/bdea73c3f54b2e9e.ipch
.vs/VC_Demo/v15/ipch/ddcfd149b2b2b32e.ipch
.vs/VC_Demo/v16/.suo
.vs/VC_Demo/v16/Browse.VC.db
.vs/VC_Demo/v16/Browse.VC.opendb
.vs/VC_Demo/v16/ipch/bdea73c3f54b2e9e.ipch
.vs/VC_Demo/v16/ipch/ddcfd149b2b2b32e.ipch
KeyPressDemo.7z
opencv_world410.dll
opencv_world410d.dll
VC_Demo.vcxproj
x64/Debug/msdk.dll
x64/Debug/opencv_world410.dll
x64/Debug/opencv_world410d.dll
x64/Debug/vc142.idb
x64/Debug/vc142.pdb
x64/Debug/VC_Demo.Build.CppClean.log
x64/Debug/VC_Demo.vcxproj.FileListAbsolute.txt
x64/Release/opencv_world410.dll
x64/Release/vc142.pdb
x64/Release/VC_Demo.Build.CppClean.log
x64/Release/VC_Demo.tlog/link.delete.1.tlog
x64/Release/VC_Demo.vcxproj.FileListAbsolute.txt
s.bmp
.vs/VC_Demo/v16/ipch/AutoPCH/1680bf2d595fb7af/VC_DEMODLG.ipch
*.ipch
